*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

.wrapper{
    width: 100vw; 
    height: 100vh; 
    background-image: url("img3.wallspic.com-clan_uchiha-sasuke_uchiha-akatsuki-obito_uchiha-itachi_uchiha-2560x1440.jpg");
    background-size: cover;
    display: grid;
    place-items: center;
    object-fit: cover;
}

.game-info{
    background: #33CCCC; /* Fallback */
    animation: color 15s infinite linear;
    color: white;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(7px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
    text-align: center;
}
@keyframes color {
    0%   { background: #f5aa781f; }
    20%  { background: #b3c54f26; }
    40%  { background: #d87aea21; }
    60%  { background: #89877f1f; }
    80%  { background: #c98d8926; }
    100% { background: #4eabab26; }
  }
.tic-tac-toe {
    width: 90%;
    margin-bottom: 3rem;
    /* position: relative;
    top: 12%; */
    aspect-ratio: 1 / 1;
    max-width: 25rem;

    background: #33CCCC; /* Fallback */
    animation: color 15s infinite linear;
    /* background-color: rgba(255, 255, 255, 0.15); */
    backdrop-filter: blur(7px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.box{
    /* background-color: red; */
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    font-size: 4rem;
    font-weight: 200;
    color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
    transition: all 150ms ease-in-out;
}


.box1, .box2, .box4, .box5 {
    border-right: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(243, 240, 240);
}

.box3, .box6 {
    border-bottom: 2px solid rgb(255, 255, 255);
}

.box7, .box8 {
    border-right: 2px solid rgb(246, 243, 243);
}



/* .btn.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
} */

/* .btn {
    color: white;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(7px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 2rem;
    cursor: pointer;
    display: none;
    /* visibility: ; */
    /* pointer-events: ; */
    /* transition: all 150ms ease-in-out;
} 

.btn.active {
   display: flex;
} */


.winn {
    background-image: linear-gradient( 135deg, #FFF720 10%, #3CD500 100%);
}






/* CSS */
.button-49,
.button-49:after {
    display: none;
    width: 196px;
        height: 43px;
        line-height: 51px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: absolute;
  top: 85%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);



  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);

}

.button-49:hover:after {
    overflow-y: hidden;
    overflow-x: hidden;
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}



@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 196px;
    height: 43px;
    line-height: 51px;
  }
}

.button-49.active{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px){
    .wrapper{
        width: 100vw; 
        height: 100vh; 
        background-image: url('1582100.jpg');
        background-size: cover;
        display: grid;
        place-items: center;
        object-fit: cover;
    }

    .tic-tac-toe {
        width: 85%;
        margin-bottom: 0rem;
        aspect-ratio: 1 / 1;
        max-width: 25rem;
        background: #33CCCC;
        animation: color 15s infinite linear;
        /* background-color: rgba(255, 255, 255, 0.15); */
        backdrop-filter: blur(7px);
        border-radius: 1rem;
        border: 1px solid rgba(255, 255, 255, 0.25);
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}